<!DOCTYPE html>
<html lang="en">
<head>
  <title>LOGIN PAGE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
        body{
          font-size: 16px; 
          color: #fff;  /*Initial white*/
          background-color: #61122f;/*Maroon*/
          font-family: 'Oxygen', sans-serif;/*Imported font from google fonts*/
        }
      </style>
    </head>
    <body>
      <form action = "login" method="post">
        {% csrf_token %}
         <br>
         <input type = "text" name = "firstname" placeholder="First Name" style = "color: black"><br>
         <input type = "text" name = "lastname" placeholder="Last Name" style = "color: black"><br>
         <input type = "text" name = "username" placeholder="User Name" style = "color: black"><br>
         
         <input type = "password" name = "password1" placeholder="Password" style = "color: black"><br> 
         <input type = "password" name = "password2" placeholder="Confirm Password" style = "color: black"><br>  
         <input type="Submit">





      </form>
      <div>
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
      </div>
    </body>
    </html>