{% load static %}



<!DOCTYPE html>
<html>
<title>Eventcon 2020</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/css?family=Archivo Black"  rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/no.css' %}">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>



<body>

<!-- Navbar (sit on top) -->
<div class="w3-top" >
  <div class="w3-bar w3-white w3-card" id="myNavbar" style="min-height: 75px; padding-top: 12px;">
    <a href="#home" class="w3-bar-item w3-btn"style="font-size: 150%; padding-top: 10px;">EVENTCON 2020</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right " style="font-size: 125%">
      {% if user.is_authenticated %}
      <a href="{% url 'template' %}" class="w3-bar-item w3-btn"><i class="fa fa-user"></i> ME</a>
      {% else %}
      <a href="#" class="w3-bar-item w3-btn"><i class="fa fa-home"></i> HOME</a>
      {% endif %}
      <a href="{% url 'about' %}" class="w3-bar-item w3-btn"><i class='fa fa-exclamation-circle'></i> ABOUT</a>
      
      <div class="w3-dropdown-hover">
        <button class="w3-btn"> CATEGORIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="{% url 'department' %}" class="w3-bar-item w3-btn">Departmental Events</a>
          <a href="{% url 'cultural' %}" class="w3-bar-item w3-btn">Cultural Fests</a>
          <a href="{% url 'sports' %}" class="w3-bar-item w3-btn">Sports Events</a>
          <a href="{% url 'clubs' %}" class="w3-bar-item w3-btn">Clubs and Committees</a>
          
        </div>
      </div>
      {% if user.is_authenticated %}
      <a href = "logout" class="w3-bar-item w3-btn"><i class="fa fa-envelope"></i> LOGOUT</a>
      {% else %}
      <a href="{% url 'signin' %}" class="w3-bar-item w3-btn"><i class="fa fa-envelope"></i> LOGIN</a>
      {% endif %}
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="{% static 'javascript:void(0)' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
  <a href="{% url 'about' %}" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#events" onclick="w3_close()" class="w3-bar-item w3-button">EVENTS</a>
  <a href="#categories" onclick="w3_close()" class="w3-bar-item w3-button">CATEGORIES</a>
  <a href="{% url 'signin' %}" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
</nav>

<!-- Header with full-height image -->
{% if user.is_authenticated %}
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" style="background-image: url({% static 'images/party-wallpaper-2.jpg' %})">
  <div class="w3-display-left w3-text-white" style="text-align: center; padding-left: 200px;">
    <span class="w3-jumbo w3-hide-small" style="font-family: 'Archivo Black';font-size: 100px;text-shadow: 2px 2px 4px #4e2828;">K   K   WAGH   INSTITUTE'S</span><br>
    <span class="w3-xxxlarge w3-hide-small" style="text-shadow: 2px 2px 4px #000000;">Ultimate Collection of Yearly College Events</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-large" style="text-shadow: 2px 2px 4px #000000;">Start utilizing your valuable time to nourish your personality.</span>
    
  </div>
</header>
{% else %}


<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" style="background-image: url({% static 'images/party-wallpaper-2.jpg' %})">
  <div class="w3-display-left w3-text-white" style="text-align: center; padding-left: 200px;">
    <span class="w3-jumbo w3-hide-small" style="font-family: 'Archivo Black';font-size: 100px;text-shadow: 2px 2px 4px #4e2828;">K   K   WAGH   INSTITUTE'S</span><br>
    <span class="w3-xxxlarge w3-hide-small" style="text-shadow: 2px 2px 4px #000000;">Ultimate Collection of Yearly College Events</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-large" style="text-shadow: 2px 2px 4px #000000;">Start utilizing your valuable time to nourish your personality.</span>
    <p><a href="{% url 'register' %}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Register</a></p>
  </div>
</header>
{% endif %}

<div class="w3-container" style="padding:12px 16px; font-size: 125%" id="about">
  <h3 class="w3-center" style="font-size: 250%"><b>Upcoming Events</b></h3>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/Equinox.jpg' %}" alt="Equinox" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>EQUINOX</h1>
            <p>Department of Computer Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/Meacheaven.jpg' %}" alt="Mecheaven" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>MECHEAVEN</h1>
            <p>Department of Mechanical Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/force.jpg' %}" alt="force" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>FORCE</h1>
            <p>Department of Civil Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/Chemfest.jpg' %}" alt="Chemfest" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>CHEMFEST</h1>
            <p>Department of Chemical Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
     <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/Invasion.jpg' %}" alt="Invasion" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>Invasion</h1>
            <p>Department of Production Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/IET.jpg' %}" alt="IET" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>IET</h1>
            <p>Department of Electrical Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container left">
    <div class="content">
     <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{% static 'images/Invasion.jpg' %}" alt="Invasion" style="width:260px;height:200px;">
          </div>
          <div class="flip-card-back">
            <h1>Itiazza</h1>
            <p>Department of I.T Engineering</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- -------------------------FOOTER----------------------------------- -->
<!-- <footer>
    <div class="row-footer">
    <div class="column-footer">
      <h2>Programs</h2>
      <p id="tohover">Technical Events</p>
      <p id="tohover">Cultural Events</p>
      <p id="tohover">Sports</p>
      <p id="tohover">Webinars & Workshops</p>
      <p id="tohover">Be a Sponsorer</p>
    </div>

    <div class="column-footer">
      <h2>Useful Links</h2>
      <p id="tohover">Home</p>
      <p id="tohover">About Us </p>
      <p id="tohover">Departments</p>
      <p id="tohover">Major Events</p>
      <p id="tohover">FAQ's</p>
      <p id="tohover">Help</p>
      <p id="tohover">Site Map</p>
    </div>

    <div class="column-footer">

      <h2>Phone</h2>
      
      <i class="fa fa-phone" style="font-size:28px;color:red;"></i>
      <br>
    <i class="fa fa-envelope" style="font-size:48px;color:red"></i>
      <p id="tohover">Subscribe Us!</p>

  <br>
    </div>
  </div>
  <div>&#169;Copyright@2020 All rights reserved</div>
</footer> -->
</body>
